body {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: open sans, sans-serif;
}

.top {
    text-align: center;
    padding-right: 50px;
    background: #999;
}

.title {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tasks {
    font-family: inconsolata, sans-serif;
    font-size: 18px;
    text-align: right;
    margin-right: 5%;
    padding-bottom: 1%;
}

.bottom {
    background: #BBB;
    font-size: 18px;
}

.add__container, .container {
    display: block;
    margin-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    line-height: 1.1;
    font-size: 35px;
    border: none;
    background: none;
    vertical-align: middle;
    cursor: pointer;

}

button:focus {outline: none;}

.add__btn {
    color: green; 
    //linear-gradient(to bottom right, green, grey);
}

.add__btn:active { transform: translate(2px);}

.add__description {
    width: 90%;
    height: 44px;
    font-size: 18px;
    font-family: inconsolata, sans-serif;
    padding-left: 1%;
}

.container {
    background: #DDD;
}
