/* GLOBAL */

button {
    line-height: 1.1;
    font-size: 35px;
    border: none;
    background: none;
    vertical-align: middle;
    cursor: pointer;
}

button:focus {outline: none;}
button:active { transform: translate(2px, 1px);}

body {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: open sans, sans-serif;
}

/* TOP */

.top {
    text-align: center;
    padding-right: 50px;
    background: #9B7900;
}

.title {
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tasks {
    font-family: inconsolata, sans-serif;
    font-size: 18px;
    text-align: right;
    margin-right: 5%;
    padding-bottom: 1%;
    margin: 0;
}

.tasks__literal {
    font-style: normal;
}

/* BOTTOM */

.bottom {
    background: #B99925;
    font-size: 18px;
}

.add__container, .tasks__container {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    margin-left: 10%;
    margin-right: 10%;
    width: auto;
}

.add__btn {
    color: #359A1F; 
}

.item__delete--btn {
    color: #A62248;
}

.add__description {
    width: 90%;
    height: 44px;
    font-size: 18px;
    font-family: inconsolata, sans-serif;
    padding-left: 1%;
}

.item:first-child {border-top: 1px solid #9B7900; }
.item:nth-child(even) { background-color: #F6DA77; }
.item {
    border-left: 1px solid #9B7900;
    border-right: 1px solid #9B7900;
}

.item__description {
    padding-left: 1%;
    display: inline-block;
    height: 44px;
    font-size: 18px;
    padding-top: 17px;
    width: 70%;
    text-align: left;
}

.item__controls {
    float: right;
    padding-right: 1%;
    padding-top: 5.5px;
}

.tasks__container {
    background: #B99925;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 16.7%;
}

.item__boulder--btn{
    color: grey;
}
.item__complete--btn{
    color: green;
}
